@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --color-1: #fff;
  --color-2: #000;
  --color-3: #007bff;
}

body {
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-1);
  padding: 10px 20px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.logo .brand {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

.logo a {
  text-decoration: none;
}

.logo .highlight {
  color: orange;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 600px;
  background-color: var(--color-1);
  overflow: hidden;
}



.dropdown {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 17px;
  border-right: 1px solid #ddd;
  cursor: pointer;
  transition: .3s ease-in-out;
  font-size: 14px;
  color: #444;
}

.dropdown:hover {
  background-color: #e0e0e0;
}

.dropdown .arrow {
  font-size: 20px;
  color: #666;
  margin-left: 4px;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 20px;
  font-size: 17px;
  color: #aaa;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 55px;
  border: none;
  font-size: 14px;
  color: #333;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 24px;
  color: #777;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: #666;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.icon:hover {
  color: var(--color-3);
  transform: scale(1.1);
}

.avatar-img {
  background-image: url("/assets/avatar.png");
  background-position: center;
  background-size: cover;
  background-color: red;
  border-radius: 50%;
  width: 27px;
  height: 27px;
}

.star-dropdown {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fdfdfd;
  width: 60px;
  height: 32px; 
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.star-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 16px;
  color: #888;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.star-icon:hover {
  background-color: #e6e6e6;
  color: #333;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.dropdown-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 14px;
  color: #888;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}


@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: stretch;
  }

  .search-container {
      margin: 10px 0;
  }

  .icons {
      justify-content: center;
      gap: 10px;
  }
}


.bottom-line {
  background-image: url(/assets/bottom-line.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 20px;
  margin: 0 auto;
}


.dropdown-bar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dropdown-bar ul li {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  gap: 10px;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: 0.1px;
  background-color: transparent;
  align-items: center;
  transition: .3s ease-in-out;
  padding: 14px 15px;
}

.dropdown-bar ul li .active {
  font-size: 15px;
}

.dropdown-bar ul li:nth-child(1) {
  gap: 30px;
  display: flex;
}

.dropdown-bar ul li:nth-child(1) img {
  object-fit: cover;
}

.dropdown-bar ul li {
  transition: .3s ease-in-out;
}

.dropdown-bar ul li:hover {
  color: var(--color-3);
}

.menu-icon .fa-solid {
  transition: .3s ease-in-out;
  cursor: pointer;
  font-size: 20px;
}

.menu-icon .fa-solid:hover {
  color: var(--color-3);
}

.dropdown-bar button:hover {
  color: var(--color-3);
}

.dropdown-bar ul li.active {
  border-top: 3px solid var(--color-3);
  background-color: #e7eefa;
  font-weight: bold;
}

.user-details {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.user-main {
  background-color: #f3f0f1;
}


.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username-crown .fa-solid {
  background-color: #fab154;
  cursor: pointer;
  font-size: 20px;
  padding: 12px;
  border-radius: 5px;
  color: var(--color-1);
}

.user-location h4 {
    font-family: "Open Sans", sans-serif;
  color: #444;
}

.user-location h2 {
  font-size: 21px;
}

.detail-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.group-cms-btns {
  display: flex;
}

.group-cms-btns  {
  border-radius: 10px;
  padding: 2px;
}

.group-cms-btns .cms-btn1 {
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.group-cms-btns .cms-btn2 {
  border: 1px solid #ddd;
  color: #333;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.detail-buttons button {
  color: var(--color-3);
  font-family: 'Poppins', sans-serif;
  transition: .2s ease-in-out;
  font-weight: 600;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-1);
  padding: 7px 15px;
}

.detail-buttons .user-follow {
  border-radius: 5px;
}

.detail-buttons button:hover {
  background-color: var(--color-3);
  color: var(--color-1);
}

.info-links {
  background-color: var(--color-1);
  padding: 40px 30px;
}

.info-title {
  display: flex;
  align-items: center;
  color: #222;
  gap: 10px;
}

.info-title .fa-solid {
  color: #333;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.info-title .fa-solid:hover {
  color: var(--color-3);
}

.info-link {
  padding-top: 20px;
}

.info-link ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-link ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  list-style: none;
  font-size: 14px;
}

.info-link ul li a {
  color: var(--color-3);
  transition: .2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.info-link ul li a:hover {
  color: var(--color-3);
}

.user-icon-person {
  color: #947262;
}

.link-icon1 {
  background-color: #fef2c7;
  padding: 5px;
  color: var(--color-1);
  font-size: 11px;
  border-radius: 5px;
}

.link-icon2 {
  color: var(--color-1);
  background-color: #b5ac9e;
  padding: 5px;
  font-size: 9px;
  border-radius: 5px;
}

.link-icon3 {
  color: #fff;
  background-color: #a89e85;
  padding: 5px;
  font-size: 9px;
  border-radius: 5px;
}

.link-icon4 {
  color: #fff;
  background-color: #8186e2;
  padding: 5px;
  font-size: 9px;
  border-radius: 5px;
}

.link-icon5 {
  color: #fff;
  background-color: #4ea591;
  padding: 5px;
  font-size: 9px;
  border-radius: 5px;
}

.link-icon6 {
  color: #fff;
  background-color: #f8b86d;
  padding: 5px;
  font-size: 9px;
  border-radius: 5px;
}

.link-icon7 {
  color: #fff;
  background-color: #8dbb65;
  padding: 5px;
  font-size: 9px;
  border-radius: 5px;
}

.bottom-line-v2 {
  background-color: #a9bdda;
  height: 20px;
  max-width: 100%;
}

.account-status {
  display: flex;
  padding: 30px 0;
}

.account-items {
  display: flex;
  gap: 100px;
}

.status-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.status-item p {
  color: #555;
  font-weight: 500;
  font-size: 15px;
}

.status-item a {
  color: var(--color-3);
  transition: .3s ease-in-out;
}



.status-item a:hover {
  color: #082859;
}

.breadcrumbs-container {
  padding: 15px 0;
}

.truncate {
  white-space: nowrap;       
  text-overflow: ellipsis;  
  display: inline-block;  
  max-width: 150px;       
  vertical-align: middle;    
}




.breadcrumbs {
  border: 1px solid #cbd2d9;
  border-radius: 50px;
  display: inline-flex;
  overflow: hidden;
}

.breadcrumbs .active {
  background-color: #3cbf4f;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}


.breadcrumbs .active-v2 {
  background-color: #0c3b7b;
  color: var(--color-1);
}

.breadcrumbs__item:nth-child(2):after,
.breadcrumbs__item:nth-child(2):before {
  background: #0c3b7b;
}


.breadcrumbs .active .fa-solid {
  font-size: 20px;
  color: var(--color-1);
}

.breadcrumbs__item {
  background: var(--color-1);
  color: #333;
  outline: none;
  padding: 10px 25px;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: #a7cbf0;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
  background: #323f4a;
  color: var(--color-1);
}

.breadcrumbs__item:nth-child(1):after,
.breadcrumbs__item:nth-child(1):before {
  background: #3cbf4f;
}


.breadcrumbs__item:nth-child(1):hover:after,
.breadcrumbs__item:nth-child(1):hover:before {
  background: #a7cbf0;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
  background: white;
  bottom: 0;
  clip-path: polygon(100% 49%, -100% -55%, 0 110%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.breadcrumbs__item:before {
  background: #cbd2d9;
  margin-left: 1px;
}

.breadcrumbs__item:last-child {
  border-right: none;
}

.breadcrumb-inner-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.completed-btn button {
  background-color: #1d6acc;
  color: var(--color-1);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  cursor: pointer;
  padding: 10px 13px;
  transition: .3s ease-in-out;
}

.completed-btn button:hover {
  background-color: #082859;
}

.tabs-container {
  padding-top: 30px;
  margin-bottom: 50px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555;
  border: none;
  background: none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab-button.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #0078ff;
}

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.field-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.field-label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #444;
  font-weight: 500;
}

.input-with-icon {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
  position: relative;
}

#owner  {
  color: var(--color-3);
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  font-weight: 500;
  padding-left: 4px;
  font-size: 16px;
}

#amount {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#account {
  color: var(--color-3);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  font-size: 16px;
}

#type {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#probability,
#stage,
#close {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}


.input-with-icon .icon {
  margin-right: 5px;
  font-size: 16px;
}

.input-with-icon .input-field,
.input-with-icon .input-placeholder {
  border: none;
  background: transparent;
  flex: 1;
  padding: 10px 0;
  font-size: 14px;
  outline: none;
}

.input-with-icon .edit-icon {
  position: absolute;
  right: 8px;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}

.input-with-border {
  position: relative;
}

.check-edit {
  position: absolute;
  right: 10px;
  color: #888;
  cursor: pointer;
}

.check-edit:hover {
  color: #0070d2;
}

.input-with-icon .edit-icon:hover {
  color: #0070d2;
}

.input-with-border {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  display: flex;
  align-items: center;
  height: 30px; 
}

.checkbox {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
}
